body {
  margin-left: 25%;
  margin-right: 25%;
  font-family: "Open Sans", sans-serif;
}

.main_content {
  margin-left: 25%;
  margin-right: 25%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

#topHead {
  font-weight: normal;
  color: #AFC;
  font-size: 22px;
  margin: 25px 50px 75px 100px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

#blackBar{
position:fixed;
top:0;
left:0;
margin: auto;
width:100%;
}

.main_nav {
     text-align: center;
     background: #ffffff;
     height: 50px;
}
button.main_nav {
    text-align: centre;
    font-size: 18px;
    background-color: Transparent;
    color: #000000;
    outline:none;
    border:none;
    padding:5px;
    margin-left: 0%;
}

button.main_nav:hover {
    background-color:#000000;
    color: white;
}

span.main_nav {
  padding-right: 10px;
  font-style: italic;
}
